body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

/* Header, obvs  */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* Not sure where this is supposed to go  */
.description {
  white-space: pre-wrap;
}

/* Applied to the div container for each row  */
.time-block {
  text-align: center;
  border-radius: 15px;
}

/* same as above (could probably move the above logic into this rule?  */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* 9AM, 10AM etc bit to the left of the time slot */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  width: 3rem;
}

.past {
  background-color: #d3d3d3;
  /* I commented out these as the demo app doesn't show text as white  */
  /* color: white; */
}

.present {
  background-color: #ff6961;
  /* I commented out these as the demo app doesn't show text as white  */
  /* color: white; */
}

.future {
  background-color: #77dd77;
  /* I commented out these as the demo app doesn't show text as white  */
  /* color: white; */
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  /* my rules */
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

/* My rules */
